<h1>Book</h1>

  <mat-radio-group [(ngModel)]="booktype">
      <mat-radio-button value="trip">Book a trip</mat-radio-button>
      &nbsp;
      <mat-radio-button value="cruise">Book a cruise</mat-radio-button>
  </mat-radio-group>
  
  <form [formGroup]="searchFormGroup" *ngIf="booktype == 'trip'" >
    <mat-form-field>
      <mat-select placeholder="Origin City" [(ngModel)]="origin" formControlName="origin" required>
        <mat-option *ngFor="let loc of possibleLocations" value="{{loc}}">{{loc}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Desination City" [(ngModel)]="desination" formControlName="desination" required>
          <mat-option *ngFor="let loc of possibleLocations" value="{{loc}}">{{loc}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field (click)="pickerStart.open()">
      <input matInput [matDatepicker]="pickerStart" placeholder="Departure Date" [formControl]="startDateCF" formControlName="startDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field (click)="pickerEnd.open()">
      <input matInput [matDatepicker]="pickerEnd" placeholder="Return Date" [formControl]="endDateCF" formControlName="endDate" required>
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="btn btn-success" (click)="search()" [disabled]="!this.searchFormGroup.valid">Search</button>
  </form>

  <form [formGroup]="cruiseFormGroup" *ngIf="booktype == 'cruise'">
    <p>Cruises</p>
    <mat-form-field>
      <mat-select placeholder="Port" [(ngModel)]="port" formControlName="port" required>
        <mat-option *ngFor="let loc of possibleLocations" value="{{loc}}">{{loc}}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>


<mat-horizontal-stepper #stepper [linear]="isLinear" *ngIf="showStepper">
  <mat-step label="Transportation" [editable]="!checkoutComplete">
    <span class="skip-button" [ngClass]="transportationFormDone ? 'formdone' : ''">
      <button mat-button matStepperNext>{{transportationFormDone ? "Next" : "Skip"}} <i class="material-icons">navigate_next</i></button>
    </span>
    <h2>Transportation</h2>
    <br/>
    <h3>Flights <i>from Delter</i></h3>
    <app-flights [origin]="origin" [destination]="destination" [fromDate]="startDate" [toDate]="endDate" (selectionEvent)="flightSelected = $event"></app-flights>
    <br/>
    <hr/>
    <h3>Cars <i>from Hurts</i></h3>
    <app-cars [location]="origin" [fromDate]="startDate" [toDate]="endDate" (selectionEvent)="transCarSelected = $event" [extraCar]="false"></app-cars>
  </mat-step>
  <mat-step label="Lodging" [editable]="!checkoutComplete">
      <span class="skip-button" [ngClass]="lodgingFormDone ? 'formdone' : ''">
        <button mat-button matStepperNext>{{lodgingFormDone ? "Next" : "Skip"}} <i class="material-icons">navigate_next</i></button>
      </span>
      <h2>Lodging</h2>
      <h3>Hotels <i>from Hulbun</i></h3>
      <app-hotel></app-hotel>
      <br/>
      <hr/>
      <h3>Homestays <i>from AirD&amp;D</i></h3>
      <app-homestays></app-homestays>
  </mat-step>
  <mat-step label="Extras" [editable]="!checkoutComplete">
    <span class="skip-button" [ngClass]="extrasFormDone ? 'formdone' : ''">
      <button mat-button matStepperNext>{{extrasFormDone ? "Next" : "Skip"}} <i class="material-icons">navigate_next</i></button>
    </span>
    <h2>Extras</h2>
    <h3>Local Transportation <i>from Hurts</i></h3>
    <app-cars [location]="desination" [fromDate]="startDate" [toDate]="endDate" (selectionEvent)="extrasCarSelected = $event" [extraCar]="true"></app-cars>
    <br/>
    <hr>
    <h3>Local Events <i>from Sandals</i></h3>
    <app-fun [location]="desination" [fromDate]="startDate" [toDate]="endDate" (selectionEvent)="funSelected = $event"></app-fun>
  </mat-step>
  <mat-step label="Review" [stepControl]="reviewFormGroup" [editable]="!checkoutComplete">
    <h2>Review Order</h2>
    <p *ngIf="!anyFormDone">No items have been selected</p>
    <div *ngIf="anyFormDone">
        <app-orderdisplay [order]="pending.order"></app-orderdisplay>
    </div>
    <br/>
    <br/>
    <div style="text-align: right;" class="formdone">
      <button mat-button (click)="placeOrder(stepper)" [disabled]="!anyFormDone">Place Order</button>
    </div>
    <!--Hidden checkbox that will permit the user to continue when checked-->
    <form [formGroup]="reviewFormGroup">
        <mat-checkbox class="hidden" formControlName="cbCtrl" [(ngModel)]="reviewOk" required></mat-checkbox>
    </form>
  </mat-step>
  <mat-step label="Finish" [stepControl]="false">
    <h2>Order Complete</h2>
    <app-orderdisplay [order]="finalOrder" [usedSavedTotals]="true"></app-orderdisplay>
    <div style="text-align: right;" class="formdone">
      <button mat-button (click)="viewPastOrders()">View Past Orders</button>   
    </div>
  </mat-step>
</mat-horizontal-stepper>
