<h1>Home</h1>

<form>    
  <mat-form-field>
    <mat-select placeholder="Origin City" [(value)]="origin" required>
      <mat-option value="Starkvile, MS">Starkvile, MS</mat-option>
      <mat-option value="Atlanta, GA">Atlanta, GA</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Desination City" [(value)]="desination" required>
      <mat-option value="Starkvile, MS">Starkvile, MS</mat-option>
      <mat-option value="Atlanta, GA">Atlanta, GA</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerStart" placeholder="Start Date" (value)="startDate" (click)="pickerStart.open()" required>
    <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
    <mat-datepicker #pickerStart disabled="false"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="pickerEnd" placeholder="End Date" [value]="endDate" (value)="endDate" (click)="pickerEnd.open()" required>
    <mat-datepicker-toggle matSuffix [for]="pickerEnd" disabled></mat-datepicker-toggle>
    <mat-datepicker #pickerEnd disabled="false"></mat-datepicker>
  </mat-form-field>

  <button type="submit" class="btn btn-success" (click)="search()" [disabled]="!origin || !desination">Search</button>
</form>
<mat-card onclick="callHurts()">
  <mat-card-content>
    <p>Rent a car</p>
  </mat-card-content>
</mat-card>

<mat-card onclick="callBoat()">
  <mat-card-content>
    <p>Take a cruise</p>
  </mat-card-content>
</mat-card>

<mat-card onclick="callAirs()">
  <mat-card-content>
    <p>Reserve a flight</p>
  </mat-card-content>
</mat-card>
