mat-form-field {
    margin: 10px;
    border-left: none;    
}

.hidden {
    display: none;
}

.skip-button {
    float: right;
}

.skip-button button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
    font-size: 16px;
    display: inline-flex;
    line-height: 23px;
    padding-left: 25px;
}

.formdone button {
    background-color: #4cae4c;
    color: white;
}

.formdone button:disabled {
    background-color: #eeeeee;
    color: #888888;
}

.ng-valid[required], .ng-valid.required {
    border-left: none;
}

.ng-invalid:not(form) {
    border-left: none;
}

.mat-horizontal-stepper-header-container {
    border-bottom: 1px #dad5d5 solid;
    border-top: 1px #dad5d5 solid;
}

h2 {
    color: #4cae4c
}

