mat-form-field {
    margin: 10px;
    border-left: none;    
}

.hidden {
    display: none;
}

.skip-button {
    float: right;
}

.skip-button button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
}

.skip-button.formdone button {
    background-color: #4cae4c;
    color: white;
}

.ng-valid[required], .ng-valid.required {
    border-left: none;
}

.ng-invalid:not(form) {
    border-left: none;
}