mat-form-field {
    margin: 10px;
}

.hidden {
    display: none;
}

.skip-button {
    float: right;
}

.skip-button button {
    width: 100px;
    height: 50px;
    margin-top: 15px;
}

.skip-button.formdone button {
    background-color: #4cae4c;
    color: white;
}
