<div *ngIf="isLoading">
    <p>Loading...</p>
</div>
<div *ngIf="!isLoading && !scandalsActivities">
No activities could be found for {{ location }}
</div>
<div *ngIf="!isLoading && scandalsActivities">
    <b>Activities avalible for {{ location }}</b>
    <div id="scandalsTable">
        <mat-table #table [dataSource]="scandalsDataSource">
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let element">
                <button type="submit" class="btn btn-success" [ngClass]="buttonStyle(element.name)" (click)="selectActivity(element.name)">
                  {{selectedActivityNames.has(element.name) ? "Remove": "Select"}}
                </button>                    
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
              <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.description}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="location">
                <mat-header-cell *matHeaderCellDef>Location</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.location}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef>Time</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.time}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                <mat-cell *matCellDef="let element">{{element.quantity}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cost">
                <mat-header-cell *matHeaderCellDef>Cost</mat-header-cell>
                <mat-cell *matCellDef="let element">${{element.cost}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>