.login-error {
    color: red;
    font-size: 17px;
    text-align: center;
}

h1 {
  text-align: center;
}

form {
  max-width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ng-valid[required], .ng-valid.required {
  border-left: none;
}

.ng-invalid:not(form) {
  border-left: none;
}

.loginbutton {
  background-color: #4cae4c;
  color: white;
}

.loginbutton:disabled {
  background-color: #eee;
  color: #aaa;
}

input {
  width: 100%;
}

mat-form-field {
  width: 100%;
}