<div class="order">
    
    <span *ngIf="order.bookingType == 'trip'"><b>Origin: </b>{{order.origin}}<br/></span>
    <span *ngIf="order.bookingType == 'trip'"><b>Desination: </b>{{order.desination}}<br/></span>
    <span *ngIf="order.bookingType == 'cruise'"><b>Port: </b>{{order.port}}<br/></span>
    <b>Departure Date: </b>{{toDateDisplayString(order.startDate)}}<br/>
    <b>Return Date: </b>{{toDateDisplayString(order.endDate)}}<br/>
    <br/>
    <div *ngIf="order.transCarId">
        <h3>Transporation Rental Car</h3><app-statusdisplay [status]="order.transCarComplete" *ngIf="displayStatus"></app-statusdisplay>
        <div *ngFor="let key of getKeys(order.transCarData)">
            <b>{{key}}: </b> {{order.transCarData[key]}}
        </div>
    </div>
    <div *ngIf="order.extraCarId">
      <h3>Local Rental Car</h3><app-statusdisplay [status]="order.extraCarComplete" *ngIf="displayStatus"></app-statusdisplay>
      <div *ngFor="let key of getKeys(order.extraCarData)">
          <b>{{key}}: </b> {{order.extraCarData[key]}}
      </div>
    </div>
    <div *ngIf="order.funIdsArr && order.funIdsArr.length > 0">
        <h3>Local Events</h3>
        <div *ngFor="let activity of order.funIdsArr">
            <b>Activity: </b> {{activity}} <app-statusdisplay [status]="order.isFunIdComplete(activity)" *ngIf="displayStatus"></app-statusdisplay>
            <br/>
            <b>Location: </b> {{getActivity(activity).location}}<br/>
            <b>Date/Time: </b> {{toDateTimeDisplayString(getActivity(activity).time)}}<br/>        
            <b>Cost: </b> ${{getActivity(activity).cost.toFixed(2)}}<br/>
            <br/>
        </div>
    </div>
    <div *ngIf="order.selectedCruiseId">
        <h3>Cruises</h3><app-statusdisplay [status]="order.cruiseComplete" *ngIf="displayStatus"></app-statusdisplay>
        <div *ngFor="let key of getKeys(order.selectedCruiseData)">
            <b>{{key}}: </b> {{order.selectedCruiseData[key]}}
        </div>
    </div>
    <div *ngIf="order.homestayId">
        <h3>Homestay</h3><app-statusdisplay [status]="order.homestayComplete" *ngIf="displayStatus"></app-statusdisplay>
        <div *ngFor="let key of getKeys(order.homestayData)">
            <b>{{key}}: </b> {{order.homestayData[key]}}
        </div>
    </div>
    <br/>
    <br/>
    <b>GRAND TOTAL:</b> ${{usedSavedTotals ? order.savedTotalCost.toFixed(2) : order.calculatedTotalCost.toFixed(2)}}
</div>
