<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <router-outlet></router-outlet>

  <div *ngIf="this.user.loggedIn">
    Welcome {{this.user.username}}! <button type="submit" class="btn btn-success" (click)="logout()">Logout</button>      
  </div>

    <input matInput [matDatepicker]="pickerTo" placeholder="Angular forms (w/ deserialization)"
           [formControl]="serializedDate">
    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
    
</div>
