<h1>Book Trip Extras</h1>
<h3>Car Rental</h3>
<div *ngIf="isLoading">
    <p>Loading...</p>
</div>
<div *ngIf="!isLoading">
    <b>Cars avalible for {{destLocation}}</b>
    <div id="hurtstable">
        <mat-table #table [dataSource]="hurtsDataSource">

            <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                            <button type="submit" class="btn btn-success" (click)="selectCar(element.vehicleID)">Select</button>                            
                    </mat-cell>
            </ng-container>

            <ng-container matColumnDef="cost">
                    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                    <mat-cell *matCellDef="let element">${{element.cost}}.00</mat-cell>
            </ng-container>

            <ng-container matColumnDef="makeModel">
                    <mat-header-cell *matHeaderCellDef>Make/Model</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.year}} {{element.make}} {{element.model}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="passengers">
                    <mat-header-cell *matHeaderCellDef>Passengers</mat-header-cell>
                    <mat-cell *matCellDef="let element">{{element.passengers}}</mat-cell>
            </ng-container>
            
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
    </div>
</div>
