<form>
  <h2 mat-dialog-title>Tickets</h2>
  <div id="tickettable">
      <mat-table #table [dataSource]="dataSource">
  
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button type="submit" class="btn btn-success" [ngClass]="buttonStyle(element.id)"
                    (click)="selectTicket(element.id)">
              {{element.id == selectedTicket? "Remove": "Select"}}
            </button>
          </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef>ID</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="seat">
          <mat-header-cell *matHeaderCellDef>Seat</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.seat_number}}</mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
            <mat-cell *matCellDef="let element">${{element.price.toFixed(2)}}</mat-cell>
          </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>

  
</form>