.ng-valid[required], .ng-valid.required {
    border-left: none;
}

.ng-invalid:not(form) {
    border-left: none;
}

.login-error {
    color: red;
    font-size: 17px;
    text-align: center;
    width: 100%;
}

h1 {
  text-align: center;
}

form {
  max-width: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.signupbutton {
  background-color: #4cae4c;
  color: white;
  float:right;
}

.signupbutton:disabled {
  background-color: #eee;
  color: #aaa;
}

input {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

.topmsg{
  text-align: center;
}